.login-screen {
    position: relative;
    width: 1366px;
    height: 762px;
    background: #FFFFFF;
}

.frame-1683 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 332px;
    height: 304.12px;
    left: 847px;
    top: 228.94px
}

.type {
    position: static;
    width: 332px;
    height: 245.12px;
    left: 0px;
    top: 59px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 24px 0px;
}

.input {
    position: absolute;
    width: 332px;
    height: 245.12px;
    left: 0px;
    top: 59px;
}

.frame-1681 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 332px;
    height: 245.12px;
    left: 0px;
    top: 59px;
}

.button {
    position: static;
    width: 332px;
    height: 48.12px;
    left: 0px;
    top: 197px;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 20px 0px;
}

.sign-in {
    position: absolute;
    width: 332px;
    height: 48.12px;
    left: 0px;
    top: 197px;
}

.sign-in-text {
    position: absolute;
    width: 49px;
    height: 15px;
    left: 143.93px;
    top: 213.62px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 110%;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 0.875px 1.75px rgba(0, 0, 0, 0.15);
}

.user-sign-in {
    position: static;
    width: 181.71px;
    height: 35px;
    left: 0px;
    top: 0px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 31.5px;
    line-height: 110%;
    color: #282C40;
}

.rectangle-6 {
    position: absolute;
    width: 332px;
    height: 48.12px;
    left: 0px;
    top: 197px;
    background: #2B7DF7;
    border-radius: 8.75px;
}

.exam-category-section {
    position: static;
    width: 332px;
    height: 45.5px;
    left: 0px;
    top: 131.5px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 20px 0px;
}

.exam-category-select {
    position: absolute;
    width: 162px;
    height: 13px;
    left: 0px;
    top: 21px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12.25px;
    line-height: 110%;
    color: rgba(130, 134, 154, 0.5);
}

.exam-category-text {
    position: absolute;
    width: 72px;
    height: 12px;
    top: 0px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10.5px;
    line-height: 110%;
    color: #82869A;
}


.rectangle-7 {
    position: absolute;
    width: 332px;
    height: 1.75px;
    left: 0px;
    top: 43.75px;
    background: #EBEBEB;
}

.vector-93 {
    position: absolute;
    width: 7.42px;
    height: 3.71px;
    left: 323.01px;
    top: 25.65px;
    border: 1px solid #999999;
}

.password-section {
    position: static;
    width: 332px;
    height: 45.5px;
    left: 0px;
    top: 66px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 20px 0px;
}

.password-label {
    position: absolute;
    width: 47.68px;
    height: 11.38px;
    left: 0px;
    top: 0px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10.5px;
    line-height: 110%;
    color: #82869A;
}

.enter-your-password {
    position: absolute;
    width: 109.49px;
    height: 13.12px;
    left: 0px;
    top: 21px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12.25px;
    line-height: 110%;
    color: rgba(130, 134, 154, 0.5);
}

.email-section {
    position: static;
    width: 332px;
    height: 46px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 20px 0px;
}

.enter-your-email {
    position: absolute;
    width: 85.78px;
    height: 13px;
    left: 0px;
    top: 20.62px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12.25px;
    line-height: 110%;
    color: rgba(130, 134, 154, 0.5);
}

.email-label {
    position: absolute;
    width: 51.21px;
    height: 11.38px;
    left: 0px;
    top: -0.38px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10.5px;
    line-height: 110%;
    color: #82869a;
}

.rectangle-8 {
    position: absolute;
    width: 332px;
    height: 1.75px;
    left: 0px;
    top: 44.38px;
}


.login-inner-border {
    position: absolute;
    width: 432px;
    height: 416px;
    left: 797px;
    top: 173px;
    background: #FFFFFF;
    box-shadow: 0px 6px 60px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.user-sign-in {
    position: static;
    width: 189.71px;
    height: 35px;
    left: 0px;
    top:    0px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 31.5px;
    line-height: 110%;
    color: #282C40;
}